footer.flex {
    justify-content: space-between;
    padding-bottom: 2rem;
}

footer.flex ul.flex {
    gap: 1rem;
}

footer.flex ul.flex a {
    color: var(--subtitle);
    font-size: 0.9rem;
    font-weight: 400;
}

footer.flex ul.flex a:hover {
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}

footer.flex p {
    color: var(--blue);
    opacity: 0.5;
}

@media (max-width: 800px) {
    footer.flex {
        flex-direction: column;
        gap: 2rem;
    }
}